<div class="col-auto">
    <p><a href="mailto:ajinkya.bhole@ugent.be"><i class="bi bi-envelope me-1" aria-hidden="true"></i>email</a></p>
</div>
<div class="col-auto">
    <p><a href="https://scholar.google.com/citations?user=-PRIeS0AAAAJ&hl=en"><i class="bi bi-mortarboard me-1" aria-hidden="true"></i>google scholar</a></p>
</div>
<div class="col-auto">
    <p><a href="https://github.com/marginallyunstable"><i class="bi bi-github me-1" aria-hidden="true"></i>github</a></p>
</div>
<!-- <div class="col-auto">
    <p><a href="https://twitter.com/marginallyunstable"><i class="bi bi-twitter me-1" aria-hidden="true"></i>twitter</a></p>
</div> -->
