<div class="news-list">
  <ul>
    <li>
      Attended the Winterschool on Contraction Theory — <a href="https://sites.google.com/view/discwinterschool2026/homepage" target="_blank" rel="noopener">DISC Winterschool 2026</a>.
    </li>
    <li>
      Abstract "<a href="/assets/files/20260324%20beneluxmeeting.pdf" target="_blank" rel="noopener">Consolidating Probabilistic Optimal Control</a>" accepted for presentation at <a href="https://www.beneluxmeeting.nl/" target="_blank" rel="noopener">Benelux Meeting 2026</a>. 
    </li>
  </ul>
</div>
