<div class="news-list">
  <ul>
    <li>
      Will be attending the <a href="https://rlsummerschool.com/program/" target="_blank" rel="noopener">Reinforcement
        Learning Summer School</a> this year.
    </li>
    <li>
      Our <a href="/assets/files/ECC_26_Late_Breaking_Results.pdf" target="_blank" rel="noopener">late breaking
        result</a> got accepted to ECC 2026.
    </li>
    <li>
      Our short <a href="/assets/files/ECC_26_FEP_Workshop.pdf" target="_blank" rel="noopener">paper</a> got accepted to
      <a href="https://jamalihuzaifa9.github.io/FEP-Workshop-ECC-2026/" target="_blank" rel="noopener">Free Energy
        Principle Workshop at ECC 2026</a>.
    </li>
    <li>
      Our short <a href="/assets/files/ICRA_26_Workshop.pdf" target="_blank" rel="noopener">paper</a> got accepted to <a
        href="https://sites.google.com/robotics.utias.utoronto.ca/icra26-frontiers-optimization/home" target="_blank"
        rel="noopener">Frontiers of Optimization for Robotics Workshop at ICRA 2026</a>.
    </li>
    <li>
      Our paper <a href="https://arxiv.org/abs/2512.06109" target="_blank" rel="noopener">Unifying Entropy
        Regularization in Optimal Control: From and Back to Classical Objectives via Iterated Soft Policies and Path
        Integral Solutions</a> got accepted to IFAC 2026.
    </li>
    <li>
      Attended the Winterschool on Contraction Theory — <a
        href="https://sites.google.com/view/discwinterschool2026/homepage" target="_blank" rel="noopener">DISC
        Winterschool 2026</a>.
    </li>
    <li>
      Abstract "<a href="/assets/files/20260324%20beneluxmeeting.pdf" target="_blank" rel="noopener">Consolidating
        Probabilistic Optimal Control</a>" accepted for presentation at <a href="https://www.beneluxmeeting.nl/"
        target="_blank" rel="noopener">Benelux Meeting 2026</a>.
    </li>
  </ul>
</div>