<div class="teaching-list">
	<h3>Course: 2025 Numerical Optimization at University of Ghent</h3>

	<p>
	As a Teaching Assistant, I cover the foundations of optimal control and various derivative-based and derivative-free algorithms. To bridge theory and practice, I designed a course project: <a href="/assets/files/emdm.pdf" target="_blank" rel="noopener">Control as Optimization for Robotic Manipulators</a> (goal is to formulate manipulator control as a multi-objective optimization problem, balancing minimum effort with maximum dexterity. The project explores trade-offs in both redundant and non-redundant systems, requiring students to implement custom solvers to handle kinematic constraints and trajectory tracking). Feel free to adopt this project for your own course and reach out if you'd like the code or materials.
	</p>

</div>
