<!-- <div class="row pt-2">
  <p>Theses</p>
</div> -->

<!-- <div class="row">
  <hr />
</div> -->

<div class="row justify-content-center py-3">

  <div class="col-8 col-md-4 align-items-center my-auto py-3 text-center">
    <img class="img-fluid" src="/assets/img/kricatch.png" alt="KriCatch" />
  </div>

  <div class="col-10 col-md-8 paper my-auto">
    <p><b>Towards KriCatch — A Slip Catching Practice System for the Game of Cricket</b></p>
    <p class="venue"><i>Master's Thesis</i> — 2018. <i>University of Twente</i></p>
    <p>
      KriCatch 1.0 is the result of the first design iteration for a slip-catching practice system tailored for cricket. The thesis covers design choices, system capabilities, and evaluations demonstrating improved practice versatility and realism compared to traditional setups.
    </p>
    <p>
      [<a href="/assets/files/MastersThesis.pdf">Thesis</a>] [<a href="https://youtu.be/oVQNLM9X-ik">Video</a>]
    </p>
  </div>

</div>

<div class="row">
  <hr />
</div>

<div class="row justify-content-center py-3">

  <div class="col-8 col-md-4 align-items-center my-auto py-3 text-center">
    <img class="img-fluid" src="/assets/img/stairrobot.png" alt="Stair Robot" />
  </div>

  <div class="col-10 col-md-8 paper my-auto">
    <p><b>Design of a Robust Stair Climbing Compliant Modular Robot to Tackle Overhang on Stairs</b></p>
    <p class="venue"><i>Bachelor's Thesis</i> — 2016. <i>BITS Pilani - Pilani Campus</i></p>
    <p>
      This work discusses the concept and parameter design of a robust stair-climbing compliant modular robot, capable of tackling stairs with overhangs. Geometry modifications of the periphery of the wheels help in tackling overhangs. Grey-based Taguchi methods were applied to provide optimal settings for design parameters; a prototype demonstrates successful performance.
    </p>
    <p>
      [<a href="/assets/files/BachelorsThesis.pdf">Thesis</a>] [<a href="https://youtu.be/GXY6U_79axM">Video</a>]
    </p>
  </div>

</div>


